body {
    color:white;
    font-family: "Parisienne", sans-serif;
}

.background {
    background-size: contain;
}

#heading {
    background-color: #422006;
    opacity: 0.9;
    border: solid 3px;
    padding: 5px;
    margin: 10px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 75px;
}

#small-head{
    font-size: 40px;
}

/* box with drop down*/
.select-box {
    opacity: 0.9;
    border: solid 3px;
    background-color: #422006;
    padding: 5px;
    font-size: 30px;
    display: flex;
    width: 500px;
    height: 200px;
}

/* boxes for content.. Just need to be positioned */
 section {
    opacity: 0.9;
    width: 500px;
    height: 200px;
    border: 3px solid #fafafa;
    background-color: #422006;
    }