body {
    color:white;
    font-family: "Parisienne", sans-serif;
}


header {
  background-color: #422006;
  opacity: 0.9;
  border: solid 3px;
  margin: 10px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 75px;
}

header h2{
  font-size: 40px;
}

header nav {
  display:flex;
  padding-top: 10px;
  margin-right:20px;
  float: right;
  font-size: 30px;
  color: white;
}

header nav ul {
  list-style-type: none;
  position: relative;
}

header nav ul li {
  display: inline-block; 
  padding: 5px;
  margin-left: 10px
}

a:hover {
  text-decoration: underline;
}

.background {
    background-size: contain;
}

.howto {
  opacity: 0.9;
  font-size: 34px;
  margin:auto;
  width:400px;
  height: 300px;
  border: 3px solid #fafafa;
  background-color: #422006;
}

#howto-desc {
  flex: 1;
  font-size: 26px;
}



/* box with drop down*/
.select-box {
    opacity: 0.9;
    border: solid 3px;
    background-color: #422006;
    padding: 5px;
    font-size: 30px;
    width:400px;
    height: 300px;
    margin-right: 20px;
}

/* boxes for content.. Just need to be positioned */
 /* section {
    opacity: 0.9;
    font-size: 30px;
    margin-right: 20px;
    width:400px;
    height: 300px;
    border: 3px solid #fafafa;
    background-color: #422006;
    } */

    #list_of_meals,
    #chosen-meal,
    #list_of_cocktails,
    #chosen-drink,
    #meal-drink,
    #saved_pairings {
      overflow: auto;
    }

    .about {
      opacity: 0.9;
      font-size: 42px;
      margin:auto;
      width:400px;
      height: 300px;
      border: 3px solid #fafafa;
      background-color: #422006;
    }
  
    #about-desc {
      flex: 1;
      font-size: 30px;
    }

    @media screen and (min-width: 400px) {
      .select-box {
        flex-direction: column;
        margin: 10px;}
    }